header {
    display: flex;
    align-items: center;
}

header img {
    height: 150px;
    width: 250px;
}

form {
    margin: 10px 2em 1em 2em;
    background-color: #c7e9f37d;
    padding: 2em 4em 2em 4em;
    background-image:
    font-size: x-large;
    border-style: outset

}

button {
    margin: 10px;
    text-align: center;
    padding: 15px;
    background-color: #351b2ecf;
    color: white;
}

button:hover {
    font-size: 1.2em;
}

main {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    background-image: url(./pngtree-technology-data-line-dotted-line-image_18981.jpg);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(179, 185, 181);
    background-repeat: no-repeat;
}

div.submit-btn {
    display: none;
    justify-content: space-between;
}
h1{
    color: rgb(141, 7, 7);
    text-shadow: 2px 2px 8px #FF0000;
    font-size: 3em;
}
div.submit-btn p {
    flex: 3;
}

input[type=button] {
    padding: 1em 10em;
    border: 1px solid darkgrey;
    cursor: pointer;
    flex: 1;
    background-color: #f55a3ec7;
}

input[type=button]:hover {
    background-color: #3F51B5;
    color: white;
    font-size: 1em;
}

label:hover {
    font-size: 1.2em;
    text-decoration: underline;
    cursor: pointer;
}

legend {
    font-weight: 900;
}

.done input {
    color: darkblue;
    background-color: lightslategray;
}

.done {
    opacity: 0.5;
}

.done input[type=button] {
    background-color: #3F51B5;
    color: white;
}

footer {
    background-color: #f0ffffab;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

footer p {
    text-align: center;
}